body{
    background:url(./img/dg.jpeg);
}
h1{
    text-align: center;
color: rgb(247, 103, 0);

}
p{
    background-color: blueviolet;
    color: rgb(60, 255, 0);
}
a{
    color: rgb(243, 243, 243);
}